<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--D3-->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <title>Get Cookin'!</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="#">Fixed top</a>
    </nav>
    <div class="jumbotron">
      <h1 class="display-4">Ain't nothin I'm just tryin to get my paper, my paper</h1>
      <p class="lead">My webpage, yo.</p>
      <hr class="my-4">
      <p>Here are some bullshit API's.</p>
      <img src="https://media.tenor.com/images/1010fecf7ff0c4dc7c1826e68ec0732e/tenor.png" width="300px">
      <p class="lead">
          <a class="btn btn-primary btn-lg" href="/recipes/2" role="button" target="_blank">Recipes</a>
          <a class="btn btn-primary btn-lg" href="/ingredients" role="button" target="_blank">Ingredients</a>
      </p>
    </div>
    <div class = "row">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        </div>
      </div>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class  = "row">      
    </div>
    
    <!-- <div class = "row">
      <div class = "col-med-12">
        <table id="ufo-table" class="table table-striped">
          <thead>
            <tr>
              <th class="table-head">calories</th>
              <th class="table-head">category</th>
              <th class="table-head">description</th>
              <th class="table-head">hf_id</th>
              <th class="table-head">id</th>
              <th class="table-head">image_url</th>
              <th class="table-head">name</th>
              <th class="table-head">prep_time</th>
              <th class="table-head">servings</th>
              <th class="table-head">subcategory</th>
              <th class="table-head">tip</a></th>
              <th class="table-head">total_time</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div> -->
    

    <!-- Optional JavaScript -->
    <script src="static/js/app.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>