<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--D3-->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <link rel="shortcut icon" href="#" />

    <title>Get Cookin'!</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <div class = "row">
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "width: 400px;">
              Recipes
            </a>          
            <div id = "recipe-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            </div>
          </div>
        </div>
      </nav>
      <div class="jumbotron">
        <div id="recipe-name"></div>
        <hr class="my-4">
        <div id = "recipe-description"></div>
        <div id = "recipe-image"></div>
      </div>
      <div class = "row">
        <!--Bust outs and ingredients-->
        <div class = "col-md-3">
          <div class = "col-md-12" style="border-style: solid; border-width: thin; border-color: rgba(0,0,0,0.125)">
            <div>
              <h3 style = "border-bottom-style: solid; border-width: thin;border-color: rgba(0,0,0,0.125);">Bust Out</h3>
              <table id = "bust-out-table">
                <tbody></tbody>
              </table>
            </div>
            <!--staples-->
            <div>
              <h3 style = "border-bottom-style: solid; margin-top: 20px; border-width: thin; border-color: rgba(0,0,0,0.125);">Staples</h3>
              <table id = "staples-table">
                <tbody></tbody>
              </table>
            </div>
            <!--ingredients-->
            <div>
              <h3 style = "border-bottom-style: solid; margin-top: 20px; border-width: thin; border-color: rgba(0,0,0,0.125);">Ingredients</h3>
              <table id = "ingredients-table">
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
        <!--Recipe Steps-->
        <div class = "col-md-9">
          <div id = "recipe-steps"></div>
        </div>
      </div>
    </div>
    <div class  = "row">
    </div>

    <!-- Optional JavaScript -->
    <!-- <script src="static/js/app.js"></script> -->
    <script src="static/js/viewRecipe.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>